<!DOCTYPE html>
<html>  
  <head>
    <link rel="stylesheet" href="allblogs.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
                <!-- NAVIGATION STARTS -->

                <nav class="nav" style=" display: flex;
                align-items: center;
                justify-content: center;">
                    <ul class="nav-links ">
                        <li><a href="/">Home</a></li>
                        <li class="center"><a href="/create">Create</a></li>
                        <li class="upward"><a href="/allblogs">All Blogs</a></li>
                        <li class="forward"><a href="#Support">Support</a></li>
                      </ul>
                  </nav>
    <!-- NAVIGATION ENDS -->




           <!-- CARDS SECTION STARTS -->

    <div class="top-blogs" style=" padding-bottom: 3%;">
    <h3 style="text-align: center; padding: 3% 0%;">All Blogs</h3>
    <div class="container">

      <div class="row">
        <% blogs.forEach(function(blog) { %>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="card mx-auto" style="width: 18rem; background-color: black; color: #fbf8dd;">
              <img  style="width: 286px !important; height: 180px !important;" src="<%= blog.blogImage %>" class="card-img-top"  alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= blog.blogheading %></h5>
                <p class="card-text">
                  <% if (blog.blogText) { %>
                    <%= blog.blogText.substring(0, 20) %>...
                  <% } %>
                </p>
                <a href="<%= '/blogs/' + blog.id %>" class="button2"><span style="text-decoration: none !important;">Read More</span></a>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
      </div>




<hr class="line">





    <footer id="Support" class="footer  text-center text-lg-start foot">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="fw-bold mb-3">Explore Alladin's Ink</h5>
              <p>
                Join us in a vibrant community of storytellers and thinkers. Explore a treasure trove of blogs spanning every topic imaginable – from personal experiences to industry insights. Share your voice, connect with like-minded individuals, and ignite conversations that matter. Together, let's create a world where words inspire, inform, and transform.
              </p>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="fw-bold mb-3">Navigate</h5>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="/" class="text-body">Home</a>
                </li>
                <li>
                  <a href="/create" class="text-body">Create</a>
                </li>
                <li>
                  <a href="/allblogs" class="text-body">All Blogs</a>
                </li>
               
              </ul>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="fw-bold mb-3">Contact Me</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="https://www.linkedin.com/in/mahid-alladin/" target="_blank" class="text-body"><i class="fa-brands fa-lg fa-linkedin" style="color: #000000;"></i></a>
                </li>
                <li>
                  <a href="https://github.com/mahidalladin" target="_blank" class="text-body"><i class="fa-brands fa-lg fa-github" style="color: #000000;"></i></a>
                </li>
                <li>
                

                  <a href="mailto:mahidalladin@outlook.com" class="text-body"><i class="fa-solid fa-envelope fa-lg" style="color: #000000;"></i></a>
                </li>
             
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->

        <!-- Copyright -->
      </footer>
      <!-- FOOTER ENDS -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="allblogs.js"></script>
    </body>
</html>