  <!DOCTYPE html>
<html>  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <body>
    <!-- NAVIGATION STARTS -->

    <nav class="nav" style=" display: flex;
    align-items: center;
    justify-content: center;">
        <ul class="nav-links ">
            <li><a href="/">Home</a></li>
            <li class="center"><a href="/create">Create</a></li>
            <li class="upward"><a href="/allblogs">All Blogs</a></li>
            <li class="forward"><a href="#Support">Support</a></li>
          </ul>
      </nav>
    <!-- NAVIGATION ENDS -->

    <!-- WELCOME SECTIONS STARTS -->


    <div class="">
    <div class="main-content container-fluid ">
      <h1 style="margin-bottom: 2%;">
        Welcome to<br>
      </h1>
      <div class="waviy">
        <span style="--i:1">A</span>
        <span style="--i:2">L</span>
        <span style="--i:3">L</span>
        <span style="--i:4">A</span>
        <span style="--i:5">D</span>
        <span style="--i:6">I</span>
        <span style="--i:7">N'</span>
        <span style="--i:8">S</span>
        <span style="--i:8"> </span>
        <span style="--i:8"> </span>
        <span style="--i:9">I</span>
        <span style="--i:10">N</span>
        <span style="--i:10">K</span>
     
       </div>
      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="study">
        <rect width="64" height="64"/>
        <g id="smoke">
        <path id="smoke-2" d="M9 21L9.55279 19.8944C9.83431 19.3314 9.83431 18.6686 9.55279 18.1056L9 17L8.44721 15.8944C8.16569 15.3314 8.16569 14.6686 8.44721 14.1056L9 13" stroke="#797270"/>
        <path id="smoke-1" d="M6.5 22L7.05279 20.8944C7.33431 20.3314 7.33431 19.6686 7.05279 19.1056L6.5 18L5.94721 16.8944C5.66569 16.3314 5.66569 15.6686 5.94721 15.1056L6.5 14" stroke="#797270"/>
        </g>
        <g id="laptop">
        <rect id="laptop-base" x="17" y="28" width="20" height="3" fill="#F3F3F3" stroke="#453F3C" stroke-width="2"/>
        <rect id="laptop-screen" x="18" y="17" width="18" height="11" fill="#5A524E" stroke="#453F3C" stroke-width="2"/>
        <rect id="line-1" x="20" y="19" width="14" height="1" fill="#F78764"/>
        <rect id="line-2" x="20" y="21" width="14" height="1" fill="#F9AB82"/>
        <rect id="line-3" x="20" y="23" width="14" height="1" fill="#F78764"/>
        <rect id="line-4" x="20" y="25" width="14" height="1" fill="#F9AB82"/>
        </g>
        <g id="cup">
        <rect id="Rectangle 978" x="5" y="24" width="5" height="7" fill="#CCC4C4" stroke="#453F3C" stroke-width="2"/>
        <path id="Ellipse 416" d="M11 28C12.1046 28 13 27.1046 13 26C13 24.8954 12.1046 24 11 24" stroke="#453F3C" stroke-width="2"/>
        <rect id="Rectangle 996" x="6" y="25" width="3" height="1" fill="#D6D2D1"/>
        </g>
        <g id="books">
        <rect id="Rectangle 984" x="58" y="27" width="4" height="14" transform="rotate(90 58 27)" fill="#B16B4F" stroke="#453F3C" stroke-width="2"/>
        <rect id="Rectangle 985" x="56" y="23" width="4" height="14" transform="rotate(90 56 23)" fill="#797270" stroke="#453F3C" stroke-width="2"/>
        <rect id="Rectangle 986" x="60" y="19" width="4" height="14" transform="rotate(90 60 19)" fill="#F78764" stroke="#453F3C" stroke-width="2"/>
        <rect id="Rectangle 993" x="47" y="20" width="12" height="1" fill="#F9AB82"/>
        <rect id="Rectangle 994" x="43" y="24" width="12" height="1" fill="#54504E"/>
        <rect id="Rectangle 995" x="45" y="28" width="12" height="1" fill="#804D39"/>
        </g>
        <g id="desk">
        <rect id="Rectangle 973" x="4" y="31" width="56" height="5" fill="#797270" stroke="#453F3C" stroke-width="2"/>
        <rect id="Rectangle 987" x="10" y="36" width="30" height="6" fill="#797270" stroke="#453F3C" stroke-width="2"/>
        <rect id="Rectangle 975" x="6" y="36" width="4" height="24" fill="#797270" stroke="#453F3C" stroke-width="2"/>
        <rect id="Rectangle 974" x="40" y="36" width="18" height="24" fill="#797270" stroke="#453F3C" stroke-width="2"/>
        <line id="Line 129" x1="40" y1="48" x2="58" y2="48" stroke="#453F3C" stroke-width="2"/>
        <line id="Line 130" x1="22" y1="39" x2="28" y2="39" stroke="#453F3C" stroke-width="2"/>
        <line id="Line 142" x1="46" y1="42" x2="52" y2="42" stroke="#453F3C" stroke-width="2"/>
        <line id="Line 131" x1="46" y1="54" x2="52" y2="54" stroke="#453F3C" stroke-width="2"/>
        <rect id="Rectangle 988" x="11" y="37" width="28" height="1" fill="#54504E"/>
        <rect id="Rectangle 992" x="5" y="32" width="54" height="1" fill="#9E9492"/>
        <rect id="Rectangle 989" x="7" y="37" width="2" height="1" fill="#54504E"/>
        <rect id="Rectangle 990" x="41" y="37" width="16" height="1" fill="#54504E"/>
        <rect id="Rectangle 991" x="41" y="49" width="16" height="1" fill="#54504E"/>
        <line id="Line 143" y1="60" x2="64" y2="60" stroke="#453F3C" stroke-width="2"/>
        </g>
        </g>
        </svg>
        <h4 class="explore">
          Explore insightful articles, helpful tips, and inspiring stories to enrich your life.
        </h4>

    </div>
    </div>
    <hr class="line">

    <!-- WELCOME SECTION ENDS -->

    <!-- CARDS SECTION STARTS -->
    <hr class="line">
    <div class="top-blogs" style="background-color: #fbf8dd; padding-bottom: 3%;">
    <h3 style="text-align: center; padding: 3% 0%;">Top Blogs</h3>
      <div class="row g-0" >
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="card mx-auto" style="width: 18rem;background-color: black; color: #fbf8dd;">
            <img style="width: 100% !important; height: auto !important;" src="images/download.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Is Ten Hag in Danger?</h5>
              <p class="card-text">Wanted: an elite man...</p>
              <a href="blogs/lw2b8jvo1s84dydolqr" class="button2">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="card mx-auto" style="width: 18rem;background-color: black; color: #fbf8dd;">
            <img style="width: 100% !important; height: auto !important;" src="images/download (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">United avoiding drama?</h5>
              <p class="card-text">Getafe's president, ...</p>
              <a href="blogs/lw2bawom9xy22otzsqu" class="button2">Read More</a>
            </div>
          </div>
        </div>
        <div  class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="card mx-auto" style="width: 18rem;background-color: black; color: #fbf8dd;">
            <img style="width: 100% !important; height: auto !important;" src="images/download (2).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sir Jim wants more!</h5>
              <p class="card-text">Sir Jim Ratcliffe ci...</p>
              <a href="blogs/lw2be16gcznzxdandl" class="button2">Read More</a>
            </div>
          </div>
        </div>
        <div  class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="card mx-auto" style="width: 18rem;background-color: black; color: #fbf8dd;">
            <img style="width: 100% !important; height: auto !important;" src="images/download (3).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Where is Licha?</h5>
              <p class="card-text">Manchester United's ...</p>
              <a href="blogs/lw2bk3arv8mm30v6bcj" class="button2">Read More</a>
            </div>
          </div>
        </div>
        <div  class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="card mx-auto" style="width: 18rem;background-color: black; color: #fbf8dd;">
            <img style="width: 100% !important; height: auto !important;" src="images/images.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Disgrace by United fans</h5>
              <p class="card-text">A football fan has b...</p>
              <a href="blogs/lw2bmj633ddrnoj9epr" class="button2">Read More</a>
            </div>
          </div>
        </div>
        <div  class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="card mx-auto" style="width: 18rem; background-color: black; color: #fbf8dd;">
            <img style="width: 100% !important; height: auto !important;" src="images/maxresdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">United 250th Academy star</h5>
              <p class="card-text">The quarter of a mil...</p>
              <a href="blogs/lw2bopco8bq2ilj85f3" class="button2">Read More</a>
            </div>
          </div>
        </div>
      </div>
      </div>

    
    <hr class="line">
    <!-- CARDS SECTION ENDS -->
      <!-- TESTIMONIALS START -->
      <section id="testimonials">
        <div id="testimonial-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000" data-bs-pause="hover" >
          
          
          <div class="carousel-inner test-content">
            <div class="carousel-item active">
          <h2 class="testimonial-text">Alladin's Ink is an incredible platform for sharing stories and insights. The community here is so welcoming, and the blogs cover a wide range of topics that always keep me engaged.</h2>
          <img class="test-img" src="images/lady-img.jpg" alt="dog-profile">
          <em>Pebbles, New York</em>
            </div>
            <div class="carousel-item">
              <h2 class="testimonial-text">I've been a reader of Alladin's Ink for quite some time now, and I must say, the quality of content is top-notch. From personal experiences to industry trends, there's always something insightful to read.</h2>
        <img class="test-img" src="images/john.jpg" alt="lady-profile">
        <em>Beverly, Illinois</em>
            </div>

            <div class="carousel-item">
              <h2 class="testimonial-text">Alladin's Ink has been my go-to for inspiration and learning. The diversity of voices and topics makes it a treasure trove for anyone looking to expand their knowledge and perspectives.</h2>
        <img class="test-img" src="images/jane.jpg" alt="lady-profile">
        <em>Beverly, Illinois</em>
            </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          </div>
        </div>
        </div>
      
    
      </section>
      <hr class="line">
      <!-- TESTIMONIALS ENDS -->
      <!-- NEWSLETTER STARTS -->
      <div class="newsletter" style="background-color: #fbf8dd;">


          <h1 class="news-heading" style="text-align: center;">
            Subscribe pls
          </h1>


          <div class="text&form row">


            <div id="onlytext" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="line-height: 2 !important;">
          <p>
            Newbreak Church partners with you and your family. Every week we send out an email providing helpful links to the week's content, guides for kids and students so they can follow along at home, as well as updated news and information that are important to Newbreak Church as a whole and specific to our campuses across San Diego County.
          <p>
          </div>
          <div class="news-form col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <form class="form-parent">
              <div class="form-child" style="text-align: center !important;">
                <div class="">
                  <input type="text" class="form-control rounded-pill" style="margin-bottom: 2%;" placeholder="Name" aria-label="First name">
                </div>
    
                <div class="">
                  <input type="text" class="form-control rounded-pill" style="margin-bottom: 2%;" placeholder="Last name" aria-label="Last name">
                </div>
                <div class="">
                  <button type="submit" class=" subscribe-btn cards-btn btn-primary rounded-pill">Subscribe</button>
                </div>
              </div>
            </form>
          </div>


          </div>

        
      </div>
      <!-- NEWSLETTER ENDS -->
      <hr class="line">
      <!-- FOOTER STARTS -->
      <footer id="Support" class="footer  text-center text-lg-start foot">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="fw-bold mb-3">Explore Alladin's Ink</h5>
              <p>
                Join us in a vibrant community of storytellers and thinkers. Explore a treasure trove of blogs spanning every topic imaginable – from personal experiences to industry insights. Share your voice, connect with like-minded individuals, and ignite conversations that matter. Together, let's create a world where words inspire, inform, and transform.
              </p>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="fw-bold mb-3">Navigate</h5>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="/" class="text-body">Home</a>
                </li>
                <li>
                  <a href="/create" class="text-body">Create</a>
                </li>
                <li>
                  <a href="/allblogs" class="text-body">All Blogs</a>
                </li>
               
              </ul>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="fw-bold mb-3">Contact Me</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="https://www.linkedin.com/in/mahid-alladin/" target="_blank" class="text-body"><i class="fa-brands fa-lg fa-linkedin" style="color: #000000;"></i></a>
                </li>
                <li>
                  <a href="https://github.com/mahidalladin" target="_blank" class="text-body"><i class="fa-brands fa-lg fa-github" style="color: #000000;"></i></a>
                </li>
                <li>
                

                  <a href="mailto:mahidalladin@outlook.com" class="text-body"><i class="fa-solid fa-envelope fa-lg" style="color: #000000;"></i></a>
                </li>
             
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->

        <!-- Copyright -->
      </footer>
      <!-- FOOTER ENDS -->
      <!-- FOOTER ENDS -->

    <!-- SCRIPT LINKS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="index.js"></script>
  </body>
</html>