@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
body {
  font-family: "Exo 2" !important;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  /* background-color: #fbf8dd !important; */
  background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
  overflow-x: hidden !important;
  background-blend-mode: multiply !important;
  background-size: cover;
}
@media only screen and (max-width: 900px) {
  body {
    overflow-x: hidden !important;
  }
}


.nav-links{
  display: flex;
  align-items: center;
  background-color: #fbf8dd;

  
  padding: 20px 15px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  
}

.nav-links li{
  list-style: none;
  margin: 0 12px;
}
.nav-links li a{
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
  @media only screen and (max-width: 600px) {
    font-size: 12px;
  }
}

.nav-links li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: rgba(0,0,0,0.2);
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before{
  width: 100%;
}
.nav-links li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li.upward a:before{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-links li.upward a:hover:before{
  bottom: 0px;
  opacity: 1;
}
.nav-links li.forward a:before{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background:  #fbf8dd;
  border: 1px solid #fbf8dd;
  /* box-shadow: 6px 6px 12px #fbf8dd, -6px -6px 12px #fbf8dd; */
}

.button2:active {
  color: white;
  box-shadow: inset 4px 4px 12px  #fbf8dd, inset -4px -4px 12px #fbf8dd;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  color: white;
  background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background:linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
  border-radius: 50%;
  display: block;
  color: white;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: white;;
  border: 1px solid black;
}

.button2:hover:before {
  top: -35%;
  background:linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: black;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

a.button2, a.button2:visited {
  text-decoration: none;
}


.main-content {
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
  max-width: 100%;
  background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
  color: white;
}
.logo {
  width: 250px;
  max-width: 100%;
  mix-blend-mode: difference;
}
.line {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px solid black !important;
  background-color: black !important;
  color: black !important;
  height: 1px !important;
  opacity: unset;
  max-width: 100%;
}
/* table */
svg {
  width: 256px;
  height: 256px;
  margin-top: 2%;
  max-width: 100%;
}
#smoke-1 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s ease infinite;
  max-width: 100%;
}

#smoke-2 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s 0.5s ease infinite;
}

@keyframes smoke {
  0% {
    stroke-dasharray: 0, 10;
  }
  50% {
    stroke-dasharray: 10, 0;
  }
  100% {
    stroke-dasharray: 10, 0;
    opacity: 0;
  }
}

/* WRITING */
#line-1 {
  opacity: 0;
  animation: writing 0.5s linear forwards;
}

#line-2 {
  opacity: 0;
  animation: writing 0.5s 1s linear forwards;
}

#line-3 {
  opacity: 0;
  animation: writing 0.5s 1.5s linear forwards;
}

#line-4 {
  opacity: 0;
  animation: writing 0.5s 2s linear forwards;
}

@keyframes writing {
  0% {
    width: 0px;
    opacity: 1;
  }
  100% {
    width: 14px;
    opacity: 1;
  }
}

/* table   */

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
  max-width: 100%;


}
.main-content{
  @media only screen and (max-width: 768px) {
    h1{
      font-size: 20px !important;
    }
    .waviy{
      font-size: 30px !important;
    }
    h4{
      font-size: 15px !important;
    } 
    


}
}
.testimonial-text{
  @media only screen and (max-width:768px){
   
      font-size: 15px !important;
      line-height: 1.5;
    
  }
}
.waviy span {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
  max-width: 100%;
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.explore {
  margin-top: 2%;
}

.card{
  margin-bottom: 3%;
  max-width: 100%;
}

#testimonials {
  padding: 4% 15%;
  text-align: center;
  background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
  color: #fff;
  max-width: 100%;
}
.test-img {
  width: 14%;
  border-radius: 100%;
  margin: 20px;
  max-width: 100%;
}

.newsletter {
  padding: 4% 15% 10% 15%;
  max-width: 100%;
}
.news-content {
  text-align: center;
  max-width: 100%;
}
/* .news-form{


  } */
#onlytext {
  /* line-height: 2 !important; */
  text-align: center;
  font-size: large;
  @media (min-width: 992px) {
    text-align: left !important;
  }
  max-width: 100%;
}
.news-heading {
  @media (min-width: 992px) {
    text-align: left !important;
  }
  max-width: 100%;
}
.subscribe-btn {
  padding: 12px 24px !important;
  width: 50%;
  max-width: 100%;
}
/* .form-control{

} */
.foot {
  background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
}
.hoverable {
  position: relative;
  transition: color 0.3s ease;
}
